<html>
<head>
    <title>Basic Vue.JS Journal</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Basic Vue.JS Journal</h1>
        <br />
        <div id="basicjournal">
            <div class="modal" 
                v-bind:class="{ active: modal.active }"
                id="modal_newentry" >
                <a v-on:click="modal_close()" class="modal-overlay" aria-label="Close"></a>
                <div class="modal-container">
                    <div class="modal-header">
                    <a v-on:click="modal_close()" class="btn btn-clear float-right" aria-label="Close"></a>
                        <div v-if="modal.name == 'New Entry'" class="modal-title h5">New Entry</div>
                        <div v-else-if="modal.name == 'View Entry'" class="modal-title h5">View Entry</div>
                        <div v-else class="modal-title h5">ERROR: Unknown modal type.</div>
                    </div>
                    <div class="modal-body">
                        <div class="content">
                            <div class="form-group">
                                <div class="input-group">
                                    <label class="form-label" for="tempentry_label">Label</label>
                                    &nbsp;&nbsp;
                                    <input class="form-input" id="tempentry_label" placeholder="Another day in paradise" v-model="tempEntry.label" v-on:change="modal_modified" />
                                    &nbsp;
                                    <label class="form-label" for="tempentry_date">Date</label>
                                    &nbsp;&nbsp;
                                    <input class="form-input" id="tempentry_date" type="date" v-model="tempEntry.date" v-on:change="modal_modified" />
                                </div>
                                <label class="form-label" for="tempentry_content">Contents</label>
                                <textarea class="form-textarea col-12" id="tempentry_content" rows="5" placeholder="It was another beautiful day in paradise..." v-model="tempEntry.contents" v-on:change="modal_modified"> </textarea>
                                <br /> <br />
                                <div class="input-group" v-if="modal.name == 'New Entry'">
                                    <button class="col-4 btn btn-primary btn-lg input-group-btn" v-on:click="newentry_submit()">Save</button>
                                </div>
                                <div class="input-group col-12" v-else-if="modal.name == 'View Entry'">
                                    <button class="col-4 btn btn-primary btn-lg input-group-btn" v-on:click="modal_close()">Close</button>
                                    <div class="col-4">&nbsp;</div>
                                    <button class="col-4 btn btn-primary btn-lg input-group-btn float-right" v-bind:class="{ disabled: !modal.modified }" v-on:click="viewentry_update()" >Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h2>Entry List</h2>
                <button class="btn btn-success" v-on:click="newentry_open()">
                    <i class="icon icon-plus"></i>
                    &nbsp;&nbsp;
                    New Entry
                </button>
                <br /><br />
                <table class="table">
                    <thead>
                        <th>Label</th>
                        <th>View</th>
                        <th>Delete</th>
                    </thead>
                    <tbody>
                        <tr v-for="entry in entries">
                            <td>{{ entry.label }}</td>
                            <td>
                                <button class="btn" v-on:click="viewentry_open(entry.id)">View</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <script src="/js/samsapp.js"></script>
        <script src="/js/index.js"></script>
    </div>
</body>
</html>